
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900);*{
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-family: roboto, sans-serif;
}
body{
	background: #fff;
}
header{
	width: 100%;
}
header nav{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	background: #000;
}
.menu_bar{
	display: none;
}
header nav ul{
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	color:#FFF;
	padding: 20px;
	text-decoration: none;
	display: block;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	text-transform: uppercase;
}
header nav ul li a:hover{
	background-color:#cc3320;
}
header nav ul li span{
	margin-right: 10px;
}
section{
	padding: 20px;
}
@media screen and (max-width:800px){
	header nav{
		width: 80%;
		height: 100%;
		margin: 0;
		position: fixed;
		left: -100%;
	}
	header nav ul li{
		display: block;
		float: none;
		border-bottom:1px solid  rgba(255,255,255,.3)
	}
	.menu_bar{
		display: block;
		width: 100%;
		background: #ccc;
	}
	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		background: #000;
		color:#FFF;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu_bar span{
		float: right;
	}
}